<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.ui.newWizards">
      <!-- @generated sfcmodel -->
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="sfcmodel.model.presentation.SFCModelWizardID"
            name="%_UI_SFCModelWizard_label"
            class="sfcmodel.model.presentation.SFCModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/SFCModelFile.gif">
         <description>%_UI_SFCModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <!-- @generated sfcmodel -->
      <editor
            id="sfcmodel.model.presentation.SFCEditorID"
            name="%_UI_SFCEditor_label"
            icon="icons/full/obj16/SFCModelFile.gif"
            extensions="sfc"
            class="sfcmodel.model.presentation.SFCEditor"
            contributorClass="sfcmodel.model.presentation.SFCActionBarContributor">
      </editor>
   </extension>

</plugin>
